header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 28px; /* Aumentar el tamaño de fuente */
    color: #333; /* Cambiar el color de texto */
    border-bottom: 2px solid #333; /* Agregar un borde inferior */
}
