/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Estilos para el logo en el header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

header .logo {
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 20px;
}

header h1 {
    flex: 1; /* Para que el título ocupe el espacio restante */
    font-size: 2.5rem;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #34495e;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #1abc9c;
    color: #fff;
}

/* Main Content */
main {
    padding: 40px;
    background-color: #fff;
    min-height: 70vh;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Portfolio Section */
.portfolio {
    text-align: center;
}

.portfolio h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Individual Project */
.project {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    color: #777;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    .portfolio h2 {
        font-size: 1.8rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}
